# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python distribution
build/
dist/
*.egg-info/

# Logs
*.log
